body{
    /*background-color: rgb(200, 255, 255);*/
    padding-top: 40px;
}

.logo {
    max-height: 28px;
}

.storyThumbnail {
    max-height: 50px;
    max-width: 50px;
}

.adjustedFromTop {
    margin-top: -60px;
    padding-top: 60px;
}

.sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f7f5fa;
    border-radius: 5px;
    position: fixed;
}

.sidenav > li.active > a,
.sidenav > li.active > a:hover{
    color: #ffffff;
}

.sidenav > li > a,
.sidenav > li > a:hover{
    color: rgb(54, 117, 136);
}

.sidenav > .active,
.sidenav > .active > a:hover{
    background-color: rgb(54, 117, 136);
}


.navbar {
    background-color: rgb(54, 117, 136);
}

.navbar-nav > li.topNavActive > a {
    color: #555555;
    /*background-color: #d5d5d5;*/
    background-color: rgb(195, 214, 155);
}

.navbar-link,
.navbar-nav > li > a {
    color: #ffffff;
}

.navbar-nav > li > a:hover,
.navbar-link:hover {
    text-decoration: none;
    color: #c8c9cc;
}

.navbar-nav > li.topNavActive > a:hover {
    color: #747474;
}


.fb-like, .fb-comments, .fb-comments > span[style], .fb_iframe_widget iframe[style] { width: 100% !important; }
