@()(implicit lang: Lang, flash: Flash)
@main("About") {
<div class="row jumbotron">
    <div class="col-12 col-sm-3">
        <img class="img-responsive" src="@routes.Assets.at("images/caked.png")"/>
    </div>
    <div class="col12 col-sm-9">
        <h1>CAKED!</h1>
        <p>CAKED! is run by me, Clare, from my home in Trondheim. I am originally from Britain and have been living in Trondheim for just over 1 year.</p>
        <p>I have been baking for friends and family for years and decided to make that hobby a job in 2013</p>
        <p>CAKED! provide a friendly and personal service for all occasions, send an enquiry to discuss your requirements with no obligation to order</p>
    </div>
</div>
}
@analytics()