@(cakes: Seq[model.Cake])(implicit lang: Lang)

@main("Cakes") {
    <div class="row-fluid">
        <div class="span3 sidenav visible-desktop" data-spy="affix-top"> <!-- Start left side-->
            <ul class="bs-docs-sidenav affix nav nav-list">
                @for(cake <- cakes) {
                <li><a href='#@cake.name.replaceAll(" ", "")'>
                   <img src="@routes.Assets.at(cake.imageUrl)" class="smallImage img-circle"/> @cake.name</a>
                </li>
                }
            </ul>
        </div> <!-- End left side-->

        <div class="span9 visible-desktop"> <!-- Start right side desktop-->
            @cakeDetails(5, 4, cakes)
        </div> <!-- End right side desktop-->
        <div class="span12 hidden-desktop"> <!-- Start right side small-->
            @cakeDetails(7, 5, cakes)
        </div> <!-- End right side small-->


    </div>
}