@(active: String)(content: Html)(implicit flash: Flash)

@title() = {CAKED!}

@links() = {
    @for(category <- model.Category.categories){
        <li class=@(if (active.toLowerCase == category.link) "topNavActive" else "")><a href=@category.link><strong>@category.name</strong></a></li>
    }
}

@flashMessage() = {
    @flash.get("tweeted").map { message =>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Tweet posted!</strong> @message
        </div>
    }
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand pull-left logo" href="/"><img class="logo" src='@routes.Assets.at("images/cakedSmall.png")'/></a>

                <div class="navbar-text pull-right hidden-xs">
                    <a href="mailto:cakes@@caked.no" class="navbar-link"><strong>cakes@@caked.no</strong></a>
                </div>

                <div class="navbar-text visible-xs">
                    <a href="mailto:cakes@@caked.no" class="navbar-link"><strong>cakes@@caked.no</strong></a>
                </div>

                <ul class="nav navbar-nav hidden-xs">
                    @links
                <li><div class="navbar-text hidden-sm deliveryInfo"><em>Delivering cakes in Trondheim</em></div></li>
                </ul>

                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav visible-xs pull-right">
                    @links
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            @flashMessage
            @content
            <div class="row">
                <div class="col-12">
                    <div class="fb-like" data-href="https://www.facebook.com/pages/CAKED/1419620508309356" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
        </div>

        <script src='@routes.Assets.at("javascripts/jquery-1.11.2.min.js")' type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/caked.js")' type="text/javascript"></script>
    </body>
</html>
