@(picSize: Int, textSize: Int, products: Seq[model.Product])(implicit lang: Lang)
@descSize= @{picSize + textSize}

@products.map{product =>
    <div class="row-fluid"> <!-- title and image -->
        <div class="span@picSize">
            <img src="@routes.Assets.at(product.imageUrl)" class="img-polaroid"/>
        </div>
        <div class="span@textSize adjustedFromTop" id='@product.name.replaceAll(" ", "")'>
            <h1>@product.name</h1>
            <h3>@product.priceInfo</h3>
            <h4><a href="mailto:cakes@@caked.no?Subject=CAKED! order: @product.name&body=Name: %0AAddress: %0ATelephone: %0ADelivery date: %0AProduct name: @product.name%0APrice: @product.priceInfo">Order</a></h4>
        </div>
    </div> <!-- title and image -->

    <div class="row-fluid">
        <div class="span@descSize productDescription">  <!-- description -->
            @product.description
        </div>
    </div> <!-- description -->
    <hr />
}


